<header>
	<h1 class="text-center">Dyna + Reem</h1>
</header>

<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">Currently in development.</p>
		<a href="https://dyna-and-reem.myshopify.com" target="_blank">https://dyna-and-reem.myshopify.com</a>
	</section>
	<section>
		<h2>Development List</h2>
		<ul>
			<li>Setup GitHub repo.</li>
			<li>Setup grunt task to pre-process sass.</li>
			<li>Convert current css to sass and organize code.</li>
			<li>Build main navigation and style.</li>
			<li>Build homepage slider.</li>
			<li>Add social media icons to header.</li>
			<li>Add homepage javascript.</li>
			<li>Add instagram feed to homepage.</li>
			<li>Test linking of hompage slider images.</li>
			<li>Build Returns page.</li>
			<li>Build Contact page.</li>
			<li>Setup global fonts.</li>
			<li>Style blog roll.</li>
			<li>Style blog post page.</li>
			<li>Build shop page layout.</li>
			<li>Build and style shop page sub-navigation.</li>
			<li>Build and style product page slider.</li>
			<li>Build social sharing button on product page.</li>
			<li>Test adding product to cart.</li>
			<li>Build product accordion functionality.</li>
			<li>Style cart page.</li>
			<li>Style checkout page with seperate css file.</li>
		</ul>
	</section>
</div>
