<header>
	<h1 class="text-center">Shopify Theme</h1>
</header>

<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is TBD</p>
		<a href="" target="_blank">Need a link</a>
	</section>
	<section>
		<h2>Feature List</h2>
		<ul>
			
		</ul>
	</section>
</div>
