<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is TBD</p>
		<a href="" target="_blank">Need a link</a>
	</section>
	<section>
		<h2>Shopify Theme Feature List</h2>
		<ul>
			
		</ul>
	</section>
</div>
