<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is on September 17th</p>
		<a href="http://34degrees.com/" target="_blank">Production Site</a>
		<a href="http://34degrees-staging.gopagoda.com/" target="_blank">Staging Site</a>
	</section>
	<section>
		<h2>34° Feature List</h2>
		<ul>
			<li>Recipes Page</li>
			<ul>
				<li><mark>Pre-Launch - - - Romance copy can be edited on your dashboard. Click on the "Edit Recipe Page" link under "EDIT PRIMARY PAGES". The  romance copy lives here.</mark></li>
				<li><mark>Pre-Launch - - - Adjust bullet formatting in CMS so it does not create a span style with wrong fonts. "I cannot reproduce this, but I did add this onto the redactor: 	deniedTags: ['span'] so span tags shouldn't get into that markup now"</mark></li>
				<li><mark>Pre-Launch - - - Recipe titles don't show in full (cuts off if it's 2 lines). Please increase area to accommodate 2 lines.</mark></li>
				<li><mark>Pre-Launch - - - Recipe card image in pop­up doesn't show.</li>
				<li><mark>Pre-Launch - - - Remove dash in the cracker identifier (i.e.: Natural­crisps should be Natural Crisps)</mark></li>
				<li><mark>Pre-Launch - - - Reorder categories to be Natural • Sesame • Cracked Pepper • Rosemary • Whole Grain "The categories are dependent on the order of the products. You can change this order by going to Reorder Product under the Reorder Items section of your dashboard."</mark></li>
				<li><mark>Pre-Launch - - - Each Nav item should also have "Crisps" at the end of it</mark></li>
				<li><mark>Pre-Launch - - - Remove Download All</mark></li>
				<li><mark>Pre-Launch - - - Add "Servings" to the front of that line item?</mark></li>
				<li><mark>Pre-Launch - - - Add the word "crisps" To recipe category navigation</mark></li>
				<li>Pre-Launch - - -  Name of crisps title case. ("Whole Grain Crisps" not "Whole grain crisps").</li>
				<li>Pre-Launch - - - Typo in footer of recipe modal. "Keep your crisps crisp–– store in an airtight container after opening."</li>
			</ul>
			<li>Homepage</li>
			<ul>
				<li>Pre-Launch - - - Create new Facebook display feed.</li>
				<li>Pre-Launch - - - Remove Testimonials and put Pinterest feed.</li>
				<li>Pre-Launch - - - We will be updating some of this copy. Will need help accessing certain areas.</li>
			</ul>
			<li>Product page</li>
			<ul>
				<li><mark>Reorder packages to be Natural • Sesame • Cracked Pepper • Rosemary • Whole GrainThey seem to be in this order all ready. </mark>I may need clarification on where this is being seen.</li>
				<li>Individual Product Pages</li>
				<li>We will need to have a popup for NLEAS here. See attached mockup.</li>
				<li>Can we either shrink the image or enlarge the copy so it balances more? See attached mockup.</li>
				<li>Can we also add a slideshow feature to the product image, so we can show different box views?</li>
				<li><mark>See Recipes link does not work properly</mark></li>
			</ul>
			<li>Company Page</li>
			<ul>
				<li><mark>Pre-Launch - - - Bios are done ­ but they are not showing.</mark></li>
				<li>Pre-Launch - - - Increase width of bio modal and make scrollable.</li>
				<li>Pre-Launch - - - Crop and resize bio images on upload so they stack better within the grid.</li>
				<li>Pre-Launch - - - Add staging and final url to Typekit so fonts load.</li>
			</ul>
			<li>Community, FAQ, News, Trade</li>
			<ul>
				<li><mark>Pre-Launch - - - Hide all for now.</mark></li>
			</ul>
			<li>Buy</li>
			<ul>
				<li><mark>Pre-Launch - - -  We will be adding logos here. We need access to be able to do this.</mark></li>
			</ul>
			<li>Headers</li>
			<ul>
				<li>Make app page headers editable.</li>
			</ul>
			<li>Contact Page</li>
			<ul>
				<li>Pre-Launch - - - Newsletter signup errors on that page.</li>
				<li>Pre-Launch - - - Setup email form to goto 34° account.</li>
			</ul>
		</ul>
	</section>
</div>
