<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is on September 17th</p>
		<a href="http://34degrees.com/" target="_blank">http://34degrees.com/</a>
	</section>
	<section>
		<h2>34° Feature List</h2>
		<ul>
			<li>Recipes Page</li>
			<ul>
				<li>Where can the romance copy be edited?</li>
				<li>Adjust bullet formatting in CMS so it does not create a span style with wrong fonts</li>
				<li>Recipe titles don't show in full (cuts off if it's 2 lines). Please increase area to accommodate 2 lines.</li>
				<li>Recipe card image in pop­up doesn't show</li>
				<li>Remove dash in the cracker identifier (i.e.: Natural­crisps should be Natural Crisps)</li>
				<li>Reorder categories to be Natural • Sesame • Cracked Pepper • Rosemary • Whole Grain</li>
				<li>Each Nav item should also have "Crisps" at the end of it</li>
				<li>Remove Download All</li>
				<li>Add "Servings" to the front of that line item?</li>
				<li>Add the word "crisps" To recipe category navigation</li>
			</ul>
			<li>Homepage</li>
			<ul>
				<li>Can we put a different Facebook display feed?</li>
				<li>Remove Testimonials and put interest.</li>
				<li>We will be updating some of this copy. Will need help accessing certain areas.</li>
			</ul>
			<li>Product page</li>
			<ul>
				<li>Reorder packages to be Natural • Sesame • Cracked Pepper • Rosemary • Whole Grain</li>
				<li>Individual Product Pages</li>
				<li>We will need to have a popup for NLEAS here. See attached mockup.</li>
				<li>Can we either shrink the image or enlarge the copy so it balances more? See attached mockup.</li>
				<li>Can we also add a slideshow feature to the product image, so we can show different box views?</li>
				<li>See Recipes link does not work properly</li>
			</ul>
			<li>Company Page</li>
			<ul>
				<li>Bios are done ­ but they are not showing.</li>
			</ul>
			<li>Community, FAQ, News, Trade</li>
			<ul>
				<li>Hide all for now.</li>
			</ul>
			<li>Buy</li>
			<ul>
				<li>We will be adding logos here. We need access to be able to do this.</li>
			</ul>
			<li>Headers</li>
			<ul>
				<li>Please unlock all so we can update</li>
			</ul>

		</ul>
	</section>
</div>
