<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is on September 28th</p>
		<a href="http://www.dynia.com/" target="_blank">http://www.dynia.com/</a>
	</section>
	<section>
		<h2>Dynia Feature List</h2>
		<ul>
			<li>Add updated logo.</li>
			<li>Remove interaction with menu while in project view to resolve residential column bug.</li>
			<li>Bios for the staff on the contact page.</li>
			<li>If no awards are listed, remove slide from project.</li>
			<li>Add thumbnails on the project slider.</li>
			<li>Re-think the mobile experience for how users interact with projects.</li>
		</ul>
	</section>
</div>
