<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is TBD.</p>
		<a href="http://www.forloveandlemons.com/" target="_blank">http://www.forloveandlemons.com/</a>
	</section>
	<section>
		<h2>For Love & Lemons Feature List</h2>
		<ul>
			<li>Block countries from purchasing anything on site.</li>
			<li>Implement fraud detection app to Shopify to help with chargebacks.</li>
			<li>Style MailChimp template that matches site design.</li>
			<li>HTML emails that are sent from Shopify.</li>
			<li>Integrate more in depth Google Analytics tracking.</li>
			<li>Add user accounts to Shopify.</li>
			<li>Purchase gift cards from the site.</li>
			<li>User wishlist</li>
			<li>Deign re-fresh</li>
			<li>Email signup without verification</li>
			<li>Add videos to products</li>
		</ul>
	</section>
</div>
