<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is November 10th.</p>
		<a href="http://www.forloveandlemons.com/" target="_blank">http://www.forloveandlemons.com/</a>
	</section>
	<section>
		<h2>For Love & Lemons Feature List</h2>
		<ul>
			<li>Blog Redesign</li>
				<ul>
					<li>Blog preview with a [Read more] button similar to Nasty Gal Blog.</li>
					<li>Cleaner archive list. Sort by month and year with dropdown of posts.</li>
					<li>Ability to add text and images from within the textbox (WYSIWYG).</li>
				</ul>
			<li>Update homepage design to be less "bloggy" and more high fashion. I really like <a href="https://www.ssense.com/">ssense.com</a>. Michelle, can you provide more inspirations?</li>
			<li>Update about page with better photography and possibly a new layout.</li>
			<li><strong>Shop</strong> — search box so customers can find products faster.</li>
			<li>Optimize press page to load faster. We need to implement a lazy load of image assets.</li>
			<li><strong>Shop</strong> — Add user accounts to Shopify so customers can login and view previous orders and save credit cards.</li>
			<li><strong>Shop</strong> — Add the ability to purchase gift cards from the site.</li>
			<li>Style MailChimp template that matches site design.</li>
			<li><strong>Shop</strong> — HTML emails that are sent from Shopify.</li>
			<li><strong>Shop</strong> — Block countries from purchasing anything on site.</li>
			<li><strong>Shop</strong> — Implement fraud detection app to Shopify to help with chargebacks.</li>
			<li><strong>Shop</strong> — Integrate more in depth Google Analytics tracking.</li>
			<li><strong>Shop</strong> — Ability for users to create a wishlist.</li>
			<li>Site wide design re-fresh.</li>
			<li>Ability to sign up for email newsletter without verification.</li>
			<li><strong>Shop</strong> — Ability to add videos to products.</li>
		</ul>
	</section>
</div>
