<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is TBD.</p>
		<p>Items marked yellow are complete and items in purple will be completed in kind. Features are organized by priority with the highest priority itmes being closest to the top.</p>
		<a href="http://www.gatesfamilyfoundation.org/" target="_blank">http://www.gatesfamilyfoundation.org</a>
	</section>
	<section>
		<h2>Gates Family Foundation Feature List</h2>
		<ul>
			<li>Update Leeds seals in the header on the "Hover Building" page.</li>
			<li>For the Gates Frontiers Fund on Funds page, put the grants below the mission statements, but have the rest of the text below it. Should go mission statement, grants, additional content</li> 
			<li>Implement cloud storage solution.
				<ul>
					<li>Setup Amazon Web Services S3 account.</li>
					<li>Setup folder structure for document uploads.</li>
					<li>Train Carol how to manage file uploads and embed them into the site.</li>
				</ul>
			</li>
			<li>Change sitewide wysiwyg to accept line breaks on any text copy and pasted from Word.</li>
			<li><mark> Expand data and visual structure for "Land Protection in Focus Landscapes" under Natural Resources. Expand data and visual structure for Initiatives Page in General (this will be similar to what needs to be done on the family fund section)
				<ul> 
					<li><mark> 
						 Each of the categories on this page will need some kind of subcategorization - content in these subcategories would be similar to what is on the activity page and layout would be similar to about page (where content can take up most of the page). </mark>
					</li> 
					<li><mark> 
						Subcategories specifically needed for for Education and Natural resources there is more content including : images, charts, graphs, additional text.
						</mark>
					</li>
					<li><mark>  
						Problem with wysiwyg. Can't copy from it, can't add in spaces without going into the source </mark></li>
					<li><mark>  
						Link to these additional resources under the Natural Resources title tab
						</mark>
					</li>
					<li><mark>  
						Resources will link to a separate page where content will take
						</mark> 
					</mark></li> 
				</ul> 
			</li>
			<li><mark>Add Leeds and Landmark seals in the header on the "Hover Building" page. Does not need to be editable.</mark></li>
			<li><mark> Identify a Cloud Storage Option. Note: add a content type with file uploads. </mark></li>
			<li><mark class="kind">Re-ordering activity items is not working.</mark></li>
			<li><mark class="kind">Fix spacing in headers. Spacing is too much and needs to be reduced consistently throughout</mark></li>
			<li> <mark>The text is getting cut off on the Highlights of GFF Activity page: Beth gave a screenshot of this on her environment </mark></li> 
			<li><mark>  Update the education document. </mark></li>
			<li><mark>  News and activities don't have image description. Need alt tag on those images. </mark></li>
			<li><mark> The text is getting cut off on the Highlights of GFF Activity page: Beth gave a screenshot of this on her environment </li> 
			</ul>
		</section>
		<section class="backlog">
			<h2> Backlog </h2> 
			<ul> 
			<li>Online Grant Application.</li>
			{{!-- <li>Family Funds highligts tab in portal. </li> --}}
			<li>Incorporate larger imagery withing informational sections.</li>
			<li>Make header affixed to top of page and add animation when scrolling.</li>
			<li>Graphical representation of Family Funds data.</li>
			<li>Graphical representation of grant data.</li>	
		</ul>
	</section>
</div>
