<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is TBD</p>
		<a href="http://www.gatesfamilyfoundation.org/" target="_blank">http://www.gatesfamilyfoundation.org</a>
	</section>
	<section>
		<h2>Gates Family Foundation Feature List</h2>
		<ul>
			<li>Online Grant Application.</li>
			<li>Identify a Cloud Storage Option.</li>
			<li>Email newsletter signup.</li>
			<li>Build data structure for new sections within initiatives (ie. Natural Resources).</li>
		</ul>
	</section>
</div>
