<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is 10/28. Items marked in purple will not be billed and will be done in kind. Items that are above the dotted line are the higest priority, in order of priority. </p>
		<a href="http://www.gatesfamilyfoundation.org/" target="_blank">http://www.gatesfamilyfoundation.org</a>
	</section>
	<section>
		<h2>Gates Family Foundation Feature List</h2>
		<ul>
			<li> Expand data and visual structure for "Land Protection in Focus Landscapes" under Natural Resources. Expand data and visual structure for Initiatives Page in General (this will be similar to what needs to be done on the family fund section)
				<ul> 
					<li> 
						 Each of the categories on this page will need some kind of subcategorization - content in these subcategories would be similar to what is on the activity page and layout would be similar to about page (where content can take up most of the page). 
					</li> 
					<li> 
						Subcategories specifically needed for for Education and Natural resources there is more content including : images, charts, graphs, additional text.
					</li>
					<li> 
						Link to these additional resources under the Natural Resources title tab
					</li>
					<li> 
						Resources will link to a separate page where content will take 
					</li> 
				</ul> 
			</li>
			<li>Identify a Cloud Storage Option. Note: add a content type with file uploads. </li>
			<li><mark class="kind">Re-ordering activity items is not working.</mark></li>
			<li><mark class="kind">Fix spacing in headers. Spacing is too much and needs to be reduced consistently throughout</mark></li>
			<li> Problem with wysiwyg. Can't copy from it, can't add in spaces without going into the source </li>
			<li> The text is getting cut off on the Highlights of GFF Activity page: Beth gave a screenshot of this on her environment </li> 
			<li> Update the education document. </li>
			<li> News and activities don't have image description. Need alt tag on those images. </li>
			<li> For the Gates Frontiers Fund on Funds page, put the grants below the mission statements, but have the rest of the text below it. Should go mission statement, grants, additional content</li> 
			<li>Place Leeds and Landmark seals in the header on the "Hover Building" page. Does not need to be editable.</li>
			<li> The text is getting cut off on the Highlights of GFF Activity page: Beth gave a screenshot of this on her environment </li> 
			<li> Update the education document. </li>
			<li> News and activities don't have image description. Need alt tag on those images. </li>
			</ul>
		</section>
		<section class="backlog">
			<h2> Backlog </h2> 
			<ul> 
			<li>Online Grant Application.</li>
			<li>Family Funds highligts tab in portal. </li>
			<li>Email newsletter signup.</li>
			<li>Incorporate larger imagery withing informational sections.</li>
			<li>Pagination on News pages.</li>
			<li>Header animation when scrolling.</li>
			<li>Graphical representation of Family Funds data.</li>
			<li>Graphical representation of grant data.</li>	
		</ul>
	</section>
</div>
