<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is TBD</p>
		<a href="http://www.gatesfamilyfoundation.org/" target="_blank">http://www.gatesfamilyfoundation.org</a>
	</section>
	<section>
		<h2>Gates Family Foundation Feature List</h2>
		<ul>
			<li>Online Grant Application.</li>
			<li>Expand data and visual structure for "Land Protection in Focus Landscapes" under Natural Resources.</li>
			<li>Re-ordering activity items is not working.</li>
			<li>Fix spacing in headers.</li>
			<li>Place Leeds and Landmark seals in the header on the "Hover Building" page.</li>
			<li>Family Funds highligts tab in portal.</li>
			<li>Identify a Cloud Storage Option.</li>
			<li>Email newsletter signup.</li>
			<li>Incorporate larger imagery withing informational sections.</li>
			<li>Pagination on News pages.</li>
			<li>Header animation when scrolling.</li>
			<li>Graphical representation of Family Funds data.</li>
			<li>Graphical representation of grant data.</li>
		</ul>
	</section>
</div>
