<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is on Monday, September 29th.</p>
		<a href="http://laurakrudener.com" target="_blank">http://laurakrudener.com</a>
	</section>
	<section>
		<h2>Laura Krudener Feature List</h2>
		<ul>
			<li>Ability to add a thumbnail for each artwork that will appear on the homepage.</li>
			<li>Homepage images that fill the width of the screen.</li>
			<li>Update the teal on the site to #32f9f3.</li>
			<li>Move site blog to tumblr and setup necessary re-directs.</li>
			<li>Theme tumblr page to match site.</li>
			<li>Add necessary social media like buttons to Tumblr theme.</li>
			<li>Feed social media into blog.</li>
			<li>Test mobile posting to blog.</li>
			<li>Update font wide typeography scale to more readable across all devices.</li>
			<li>Fixed header across top of page.</li>
		</ul>
	</section>
</div>
