<div class="container sm">
	<section>
		<h2>Overview</h2>
		<p class="red">The next scheduled work day is TBD</p>
		<a href="http://www.playplusrecord.com/" target="_blank">http://www.playplusrecord.com/</a>
	</section>
	<section>
		<h2>Play + Record Feature List</h2>
		<ul>
			<li>User profiles and authentication</li>
			<li>Stripe payment integration</li>
			<li>Data structures</li>
			<li>Email notification system</li>
			<li>Homepage with video</li>
			<li>Tracks page with sorting</li>
			<li>Amazon S3 cloud storage</li>
			<li>Amazon S3 music streaming</li>
			<li>Custom website audio player</li>
			<li>Tracks page hover or click to play track</li>
			<li>A base testing suite for API and front-end</li>
			<li>Amazon S3 conversion tool</li>
		</ul>
	</section>
</div>
