<div class="container sm">
  <section>
    <h2>Staging Site</h2>
    <p>
      <a href="http://shiftcloud-staging.herokuapp.com//" target="_blank">http://shiftcloud-staging.herokuapp.com//</a>
    </p>
    <h2> Documents </h2> 
    <p> <a href="https://drive.google.com/a/cirrously.com/folderview?id=0B4VpIotHRxG2UHpjaXhfaTJ1Q2s&usp=sharing" target="_blank">Shared Docs in Drive </a>
    </p>
  </section>
  <section>
    <h2>ShiftCloud Feature List</h2>
    <ul>
      <li>Design & Base Styling</li>
      <ul>
        <li><mark>Color palettes and fonts selected for the site</mark></li>
        <li><mark>Form elemenst such as inputs, select lists, check boxes, radio buttons, text areas and buttons</mark></li>
        <li><mark>Large reusable structures such as navigation, page headers footers, image grids, text headers, lists</mark></li>
        <li><mark>Components such as modals, drop downs, accordions, specifically used for the design of the site</mark></li>
        <li><mark>The mockup for the main scheduler component</mark></li>
      </ul>
      <li>Data Modeling and Architecture</li>
      <ul>
        <li><mark>Data models needed for the initial build of ShiftCloud</mark></li>
        <li><mark>The fields needed for those data models</mark></li>
        <li><mark>Lines connecting models together that also convey the type of relationship between the models suck as "has many" or "belongs to"</mark></li>
      </ul>
      <li>Authentication and Role Management</li>
      <ul>
        <li><mark>A general user login page</mark></li>
        <li><mark>Logging in propmpts redirect to schedule of current week</mark></li>
        <li><mark>Users will have a profile page where their contact information will live. Users will also be able to see their upcoming shifts listed on this page for a quick reference, and they will be able to see how many hours they are scheduled for.</mark></li>
        <li><mark>Role-based authentication will allow scheduler -> scheduled hierarchy.</mark></li>
        <li><mark>Schedulers will has both editing and scheduling power over regular users.</mark></li>
      </ul>
      <li>User Notification System</li>
      <ul>
        <li><mark>Mandrill SMTP Server Configuration</mark></li>
         <li><mark>Email notifications for new account that will contain a link to a one-time login where the user can set their password. After the password is set, their account will be active</mark></li>
         <li> <mark>Schedulers will be able to access a user overview page where they will be able to see who has been invited to the site and who has accepted the invitations.</mark> </li>
         <li><mark>Scheduling actions will fire notification hooks that inform the appropriate users of said action. <mark></li>
      </ul>
      <li> Scheduling Tool </li>
      <ul>
        <li><mark>The view where schedulers can create a preset for any particular day they choose </mark></li>
        <li><mark>The view where schedulers can schedule employees for shifts within a preset for a day</marK></li>
        <li><mark>The view where employees can view the schedule</marK></li>
        <li><mark>The view where employees can request coverage for a shift they are scheduled for</mark> </li>
        <li><mark> The view where employees can accept a request for coverage by a fellow employee </mark></li>
        <li><mark> Automatic emails that get sent to all of the appropriate employees when a request for coverage is made by a separate employee </mark></li>
        <li> <mark>Automatic emails that get sent to the scheduler when an employee has accepted a request for coverage and the scheduler needs to approve the shift switch </mark></li>
      </ul>
    </ul>
  </section>
  <section id="backlog" class="disabled-list">
    <h2>Backlog</h2>
    <ul>
      <li> <mark>  Employees should have a dot appear for their shifts. Or maybe have them be a different color. </mark></li>
      <li> AM/PM button to minimize scrolling (Next day options would only be needed on the end time drop down)</li> 
      <li> Ability to duplicate a shift </li> 
      <li> Input time typeahead </li>    
      <li> Build validation to prevent an employee covering for another employeeif they are both working the same shifts </li>
      <li> Have the employee be able to have accounts on unaffiliated restaurants </li>
      <li> Styling for the phone </li> 
      <li> Overtime warning: You've scheduled your employee for xx amount of hours they are about to go into overtime. If you pass 10 hours double the hourly wage </li> 
      <li> A table showing the whole weeks schedule as a scheduler </li>
      <li> How many changes have been made to a schedule, how many requests have been made by an employee for cover, how many coverages have they gotten. To export this data as a CSV </li> 
      <li> See the difference between scheduled time and the time that was actually worked by the employee </li> 
      
    </ul>
  </section>
</div>
