<header>
	<h1 class="text-center">Info</h1>
</header>

<div class="container">
	<h2>The Problem</h2>
	<p>Your website’s been up and running steadily –– but your steady web presence isn’t keeping up with the newest Internet practices or accurately reflecting your growing and changing business.</p>

	<br>

	<h2>Our Philosophy</h2>
	<p>The cornerstone of our development process is to build on and to reflect the newest and best technologies and practices of the Web. Our finger is not only on the pulse, but helping to pump the heart of the Internet’s future practices and applications –– making us a valuable resource for clients looking to stay current on the Web.</p>

	<br>

	<h2>The Solution</h2> 
	<p>Our Ongoing Development Agreements are a way for you to continue to collaborate with us to achieve a steady and consistent evolution of your website ––ensuring your website’s getting the attention it needs and deserves.</p>


	<br>

	<h2>How it Works</h2> 
	<p>Each month we’ll become your personal web consultants, collaborating with you to create a list (or backlog) of features, updates, and/or changes to improve your site. Then, we will develop –– for a fixed amount of time each month –– against this backlog that has been prioritized by you.</p>

	<br>

	<h2>The Process</h2>
	<p>It starts with a phone call. Each month will do a monthly kickoff to review and build upon your backlog, help your prioritize your list, and determine your monthly goals. Then we’ll propose the developer hours you’ll need for the month to achieve those goals, and you’ll buy the developer hours you want.</p>
	<p>During development, we will continue to check in with you to let you know about the progress of our work and to show you the new features and changes as they are completed.</p>
	<p>After we have completed the work for the month, we will again contact you to schedule a time for the following month’s kickoff meeting.</p>

	<br>

	<h2>The Pricing</h2>
	<p>Our Ongoing Development Agreements start at one developer day but you can buy up to one week depending on your monthly goals and feature timelines.</p>


	<div class="clearfix">
		<div class="price-block">
			<div class="price-inner">
				<div class="price">
					<p>1 Day</p>
					<h1>$750</h1>  
				</div>
				<div class="price-info">
					In this amount of time, we can accomplish a handful of small changes or a medium sized feature such as building an image slider.  Larger features in the backlog would be accomplished over a period of 2-3 months.
				</div>
			</div>
		</div>

		<div class="price-block">
			<div class="price-inner">
				<div class="price">
					<p>2 Days<p>
					<h1>$1400</h1>  
				</div>
				<div class="price-info">
					In this amount of time we can accomplish 2 medium sized features such as adding a new page to the site or building a page that has dynamic and managed content.  Larger features such as highly styled pages, or new user types for your site can begin to be accomplished in two days, though, they may span a couple of months at 2 days a month.
				</div>
			</div>
		</div>

		<div class="price-block">
			<div class="price-inner">
				<div class="price">
					<p>3 Days<p>
					<h1>$2000</h1>  
				</div>
				<div class="price-info">
					In this amount of time we can accomplish a larger feature such as a new page with dynamic content that can be managed by you that also has intricate display devices such as sliders, accordions, or tabs.
				</div>
			</div>
		</div>

	</div>

	<div class="other-block">
		<div class="price-inner">
			<div class="price">
				<p>4+ Days</p>
				<h2>$600/day</h2>  
			</div>
			<div class="price-info">
				Every additional day after 3 days will be billed at a discounted rate.
			</div>
		</div>
	</div>


	<p>For features that may take longer than a week, it may be more appropriate for us to scope out that work and propose a timeline and price outside of the ongoing monthly agreement.  We can determine if this is needed during our monthly communication.</p>

	<br>

	<h2>The Benefit</h2> 
	<p>Not only will you get professional and innovative consultation on how to achieve your web goals, together we’ll generate a sustainable structure to ensure your web presence continues to evolve.</p>
	<p>We look forward to working more closely with you and collaborating together on ways to keep your web presence current and accurate of your evolving business. Please contact us if you have any questions on the pricing or process above, or to schedule a meeting to begin the creation of your backlog.</p>
</div>